#dT is the reporting interval
dT = 90
##Log info Variables
WORK_DIR = "/home/andie/reptest_code_review"
LOG_SUB = '/logs'
LOG_NAME = "TRep.log"
LOG_HEADER = "TSN_TState, TSN_TimeCompleted,\n"
##Database access variables
DATABASE = 'test_database'
USER = 'db_user'
HOST = 'db_host'
PASSWORD = 'db_pass'
QUERY_SUBJECT = """SELECT tsn_tstate, tsn_timecompleted FROM transactionsimulation WHERE tsn_tstate = 1 AND tsn_timecompleted"""
#" > <Last_Run_Time>" will be inserted between QUERY_SUBJECT and QUERY_PREDICATE
QUERY_PREDICATE = """ ORDER BY tsn_timecompleted;"""
##Email Send Variables
TO_EMAIL = "to@foo.bar"
FROM_EMAIL = "from@bar.foo"
SEND_EMAIL_USER = "via@origin.example"
SEND_EMAIL_PASSWORD = "email_password"
SUBJECT_NAME = 'Test Logs'
